/* src/pages/Estilos/UserChats.css */
.chat-container {
  background-color: #1b1b1b; /* Fondo negro */
  border-radius: 15px; /* Esquinas redondeadas */
  padding: 20px;
  color: #e0e0e0; /* Texto claro */
}

.chat-section {
  margin-top: 20px;
}

.chat-room-item {
  background-color: #2d2d2d; /* Fondo gris oscuro para los elementos */
  border-radius: 10px; /* Esquinas redondeadas */
  padding: 15px;
  margin-bottom: 20px;
  color: #e0e0e0; /* Color de texto claro */
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-button {
  background-color: #00ffcc; /* Color verde neón */
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  color: #1b1b1b; /* Texto oscuro */
  cursor: pointer;
  transition: 0.3s ease;
}

.chat-button:hover {
  background-color: #ff66cc; /* Color rosa neón al pasar el mouse */
}

.chat-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #00ffcc; /* Texto en verde neón */
}

.back-button {
  background-color: #007bff; /* Color azul */
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}
